.content_home
  %h1 Voyageur makes finding distance easy

  %p Enter several addresses and add them to your Trip. Voyageur will show you a map and the distance between each stop. 

  %p Re-order the stops, add in a few or change your destination and Voyageur will update your milage.

  = link_to 'Sign up', new_user_registration_path, class: 'btn btn-primary'
  = link_to 'Sign in', new_user_session_path, class: 'btn btn-info'
