.content_home
  .well
    %h1 Distance? Easy.
    %p We're trying to make it easier.
    %p Enter several addresses and add them to your trip. Voyageur will show you a map and the driving distance between each stop. 
    %p Re-order the stops, add in a few or change your destination and Voyageur will update your milage.
    = link_to 'Sign up', new_user_registration_path, class: 'btn btn-primary btn-large'

  .well
    %p Already have an account?  
    = link_to 'Sign in', new_user_session_path, class: 'btn btn-info'
