@import "zen";
@import "compass/css3/border-radius";
$zen-column-count: 12;
$zen-gutter-width: 20px;
$header-height: 130px;
$notice-background-color: #e8e4d2;

// Assuming font-size defaults to 16pt, we can use math to make ems.
// Found a function here: http://blog.poleteweb.com/pixel-to-em-math-using-sass
$browser-context: 16pt;
@mixin pt-to-ems($prop, $pixels, $context: $browser-context) {
  #{$prop}: #{$pixels/$context}em
}

@mixin debug {
  border: 1px dotted red;
}

.content {
  padding: 0px;
}

.container {
  @include zen-grid-container;
  margin: 0px;
  width: 100%;
}

body {
  font-size: 16px;
  line-height: normal;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
}

h1 {
  @include pt-to-ems(font-size, 48pt);
  font-family: 'Alegreya SC', sans-serif;
  font-weight: normal;
  padding: 0px;
  margin: 0px;
}

header {
  background-image: url('header.png');
  height: $header-height;
  text-align: center;
  margin-bottom: 80px;

  h1 {
    color: #fff;
    margin-bottom: -15px;
  }

  img {
    position: relative;
    margin: 0px;
    padding: 0px;
    z-index: 1000;
  }

  ul.actions {
    position: absolute;
    top: $header-height;
    right: 80px;
    margin: 0px;
    padding: 0px;

    li {
      margin: 0px;
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 4px;
      display: inline;
      list-style-type: none;
      color: #fff;
      background-color: #000;
      color: #fff;
      @include border-bottom-radius(15px);
      font-family: 'Alegreya SC', sans-serif;
      letter-spacing: 2px;
      @include pt-to-ems(font-size, 14pt);

      a {
        color: #fff;
        text-decoration: none;
      }
    }
  }
}

#error_explanation {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  background-color: #ccc;
}

#notice, #error, #alert, #info {
  font-family: 'Alegreya SC', serif;
  font-weight: normal;
  @include pt-to-ems(font-size, 20pt);
  text-align: center;
  z-index: 999;
  background-color: $notice-background-color;
  padding: 8px 0;
}

p {
  line-height: normal;
  font-family: 'Times';
}
