// Place all the styles related to the Locations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "application.css.scss";

$box-background-color: #e8e4d2;
$box-padding: 2px;
$box-side-padding: $box-padding * 3;
$box-width: (300 - ($box-side-padding * 2));

@mixin location-block {
  border: 1px solid #000;
  background-color: $box-background-color;
  padding: $box-padding;
  padding-left: $box-side-padding;
  padding-right: $box-side-padding;
  width: $box-width;
  margin-bottom: 5px;

  h1 {
    @include pt-to-ems(font-size, 24pt);
  }
}

@mixin location-images {
  nav.actions {
    float: right;
  }
}

.content_new_location {
  @include zen-grid-item(4, 5);

  h1 {
    @include pt-to-ems(font-size, 38pt);
  }

  label {
    @include pt-to-ems(font-size, 18pt);
    display: block;
    margin-top: 10px;
  }

  input {
    @include pt-to-ems(font-size, 18pt);
    width: 100%;
  }

  input[type="submit"] {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.content_locations {
  ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
  }

  li {
    list-style-type: none;
  }

  .instructions {
    text-align: center;
    margin-bottom: 10px;

    h1 {
      @include pt-to-ems(font-size, 24pt);
      padding-top: 10px;
    }
  }

  .library {
    @include zen-grid-item(4, 3);

    .location {
      @include location-block;
      @include location-images;
    }
  }

  .trip {
    @include zen-grid-item(4, 7);

    .summary {
      @include location-block;
      text-align: center;

      nav.actions {
        float: right;
      }
    }

    .distance {
      @include location-block;
      background-color: darken($box-background-color, 10);
      text-align: center;
    }

    .location {
      @include location-block;
      @include location-images;
    }

    .location-glow {
      @include location-block;
      background-color: lighten($box-background-color, 5);
      border-color: darken($box-background-color, 5);
      height: 70px;
    }
  }
}
