// Place all the styles related to the Locations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "application.css.scss";

$box-background-color: #e8e4d2;

@mixin location-block {
  border: 1px solid #000;
  background-color: $box-background-color;
  padding: 7px;
  width: 286px; // 300px - padding
  margin-bottom: 5px;

  h1 {
    @include pt-to-ems(font-size, 24pt);
  }
}

@mixin location-images {
  nav.actions {
    float: right;
    margin-top: -75px;
  }
}

.content_locations {
  ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
  }

  .instructions {
    text-align: center;
    margin-bottom: 10px;

    h1 {
      @include pt-to-ems(font-size, 24pt);
    }
  }

  .library {
    @include zen-grid-item(4, 3);

    .location {
      @include location-block;
      @include location-images;
    }
  }

  .trip {
    @include zen-grid-item(4, 7);

    .summary {
      @include location-block;
      text-align: center;

      nav.actions {
        float: right;
        margin-top: -50px;
      }
    }

    .distance {
      @include location-block;
      background-color: darken($box-background-color, 10);
      text-align: center;
    }

    .location {
      @include location-block;
      @include location-images;
    }

    .location-glow {
      @include location-block;
      background-color: lighten($box-background-color, 5);
      border-color: darken($box-background-color, 5);
      height: 70px;
    }
  }
}
