%header.navbar.navbar-fixed-top
  %nav.navbar-inner
    .container
      :plain
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      = link_to('Voyageur', root_url, class: 'brand')
      .nav-links.nav-collapse.collapse
        %ul.nav
          %li.active=link_to(raw('<i class="icon-home icon-white"></i> Home'), root_url)
          - if current_user
            %li=link_to(raw('<i class="icon-user icon-white"></i> Account'), edit_user_path(current_user))
            %li=link_to(raw('<i class="icon-hand-left icon-white"></i> Log Out'), destroy_user_session_path, method: :delete)

